/* styles.css */

/* Body styles to make it fill the entire viewport */
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5; /* Set the desired background color */
}

/* Main container styles to fill the remaining space */
.mainBoard {
    flex: 1;
    padding: 20px;
}

/* Navbar styles */
.navbar {
    background-color: #007BFF;
    color: white;
}

.navbar .container {
    margin-top: 0;
}

.navbar-brand {
    margin-bottom: 0;
    color: white !important;
}

/* Main container styles */
.container {
    margin-top: 20px;
}

/* Input group styles */
.input-group {
    margin-bottom: 20px;
}

/* Table styles */
.table-earning {
    background-color: white;
    border: 1px solid #ddd;
}

.table-earning th {
    text-align: center;
    background-color: #F5F5F5;
}

/* Status box styles (optional) */
.statusBox {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Responsive table styles */
.h-300-scroll {
    max-height: 300px;
    overflow-y: auto;
}

/* Modal styles */
.modal-header {
    background-color: #007BFF;
    color: white;
}

.modal-dialog {
    max-width: 50%; /* Adjust the width as needed */
    min-width: 500px;
}

.modal-content {
    height: 200px; /* Adjust the height as needed */
}

#keywordList {
    background-color: #f5f5f5; /* Set the desired background color */
    height: 300px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#keywordList::-webkit-scrollbar {
    display: none;
}

/* Adjust the delete icon style */
.bi-x::before {
    content: "×";
}

#currentStatus {
    height: 300px; /* Set your desired height here */
    overflow-y: auto;
    background-color: #f5f5f5; /* Set the desired background color */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#currentStatus::-webkit-scrollbar {
    display: none;
}

#keywordList .remove-item {
    float: right;
    margin-left: 10px; /* 버튼 사이 여백 조절 */
}

button {
    font-size: 14px; /* 버튼의 글자 크기 조정 */
    width: 110px; /* 버튼의 너비 조정 */
    background-color:  #3498db !important;
    color: white !important;
}

.remove-item {
    background-color: transparent !important;
    color: black !important;
    width: 40px !important;
}

.btn-group button {
    border-radius: 5px; /* 버튼 경계선의 둥근 모서리 지정 */
    margin-right: 5px; /* 각 버튼 사이의 간격 조정 */
}

/* styles.css */