<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADDMORE Crawler</title>
    <link rel="icon" href="image/addmore.png" type="image/x-icon">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</head>
<body>

<header class="navbar navbar-expand-lg">
    <div class="container">
        <h1 class="navbar-brand">ADDMORE CRAWLER</h1>
    </div>
</header>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="btn-group mb-3" role="group">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#searchModal">도시명검색</button>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#cityModal">도시명추가</button>
                <button type="button" class="btn" onclick="resetKeyword()">초기화</button>
                <button id="startCrawling" type="button" class="btn" onclick="startCrawling()">시작</button>
                <button id="stopCrawling" type="button" class="btn" disabled onclick="stopCrawling()">정지</button>
            </div>
            <ul id="keywordList" class="list-group">
            </ul>
            <div class="input-group">
                <input id="ipt_keyword" type="text" class="form-control" placeholder="Keyword를 입력하세요.">
                <button class="btn" type="button" onclick="addKeyword()">추가하기</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="btn-group mb-3" role="group">
                <button type="button" class="btn" onclick="clearStatus()">초기화</button>
            </div>
            <ul id="currentStatus" class="list-unstyled currentStatus">
            </ul>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive h-300-scroll">
                <table class="table table-bordered table-striped table-earning">
                    <thead>
                    <tr>
                        <th scope="col" style="text-align: center">상호명</th>
                        <th scope="col">업종</th>
                        <th scope="col">전화번호</th>
                        <th scope="col">주소</th>
                        <th scope="col">홈페이지</th>
                    </tr>
                    </thead>
                    <tbody id="resultTableBody">
                    <tr>
                        <td colspan="5" class="text-center">조회된 데이터가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">지역별 검색용 Keyword 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="cityKeyword" type="text" class="form-control" placeholder="키워드를 입력하세요.">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" onclick="searchUsingCityList()">시작</button>
                <button type="button" class="btn" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">도시명 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="cityName" type="text" class="form-control" placeholder="도시명을 입력하세요.">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" onclick="addCity()">추가하기</button>
                <button type="button" class="btn" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>